[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
scikit-learn = "*"
plotly = "*"
tqdm = "*"
scipy = "*"
lightgbm = "*"
optuna = "*"
nbformat = ">=4.2.0"

[dev-packages]
ipykernel = "*"
ruff = "*"
ipywidgets = "*"

[requires]
python_version = "3.10"
